<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <ion-toolbar id="head">
      <ion-title style="color: white;">
        MAGHER
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">register</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- Formulario de Register-->
  <div class="container">
    <form action="">
      <ion-list>

        <ion-item>
          <ion-input
            type="email" fill="solid" label="Email"
            labelPlacement="floating"
          ></ion-input>
          <br>
        </ion-item>

        <ion-item>
          <ion-input
            type="password" fill="solid" label="Contraseña"
            labelPlacement="floating"
          ></ion-input>
          <br>
        </ion-item>
        
      </ion-list>
    </form>
  </div>

  <br>

  <div class="btn-center">
    <ion-button>Login</ion-button>
  </div>

</ion-content>

