<ion-header [translucent]="true">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <ion-toolbar id="head">
    <ion-title style="color: white;">
      MAGHER
    </ion-title>
    <ion-button slot="end" fill="clear">Login</ion-button> <ion-button slot="end" fill="clear">Register</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="blnk"  [fullscreen]="true">
  <div class="fondo">
  <ion-header id="center" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <div id="top">
    <h3>Panadería y Pastelería MAGHER</h3>
  </div>
  <br>
  <br>
  <div>
    <h3 id="sub">Tradición, experiencia y calidad por mas de 30 años</h3>
  </div>

  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image">
    </swiper-slide>
    <!-- <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide> -->
  </swiper-container>
  
</div>


</ion-content>