<ion-header [translucent]="true">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <ion-toolbar id="head">
    <ion-title style="color: white;">
      MAGHER
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="fondo" [fullscreen]="true">
  <div>
  <ion-header id="center" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <div id="top">
    <h1>Panadería y Pastelería MAGHER</h1>
  </div>
</div>
</ion-content>