<ion-header [translucent]="true">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <ion-toolbar id="head">
    <ion-title style="color: white;">
      MAGHER
    </ion-title>
    <ion-button slot="end" fill="clear" routerLink="/login">Login</ion-button> 
    <ion-button slot="end" fill="clear" routerLink="/register">Register</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="blnk"  [fullscreen]="true">
  <div class="fondo">
  <ion-header id="center" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <div id="top" class="title">
    <h3>Panadería y Pastelería MAGHER</h3>
  </div>
  <br>
  <div>
    <h3 id="sub" class="title2">Tradición, experiencia y calidad por mas de 30 años</h3>
  </div>

  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true">
    <swiper-slide *ngFor="let image of images">
      <img class="img1" [src]="image">
    </swiper-slide>
    <!-- <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide> -->
  </swiper-container>

  <h4 class="title3" style="color: white;">Somos proveedores lokasosc aa experienciados de panadería, pastelería y pedidos especiales, nuestros productos a continuación:</h4>
  <div class="box">
  <ul class="cent">
    <li>Diversidad en pan</li>
    <li>Tortas</li>
    <li>Kuchen</li>
    <li>Pie de limon</li>
    <li>Canapés</li>
    <li>Empanadas</li>
  </ul>
</div>
  
</div>




</ion-content>