#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .fondo{
    background:#3c59e7;
    width: 100%;
    margin: auto;
    height: 100%;
  
    
  }
  
  .blnk{
    background: white;
  }
  
  
  #head{
    --background:#0722a7;
  }
  
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
  
  #top{
    text-align: center;
    width: 60%;
    margin: auto; 
    background-color:#F7DC3C;
    padding: 1px;
    border-radius: 20px;
  
  }
  
  h1{
    font-size: 40px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  h3{
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
  }
  
  swiper-container{
    width: 90%;
    height: 50%;  
  }
  
  swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  img{
    border-radius: 20px;
  }
  
  #sub{
    color: white;
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  #center{
    width: 80%;
  }

.btn-center{
    text-align: center;
  }